**D1DAE: Análise Estatística para Ciência de Dados** <br/>
IFSP Campinas

Prof. Dr. Samuel Martins (Samuka) <br/><br/>

<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.

In [1]:
%%html
<style>.dashed-box{border:1px dashed #000!important}.dashed-box tr{background-color:#fff!important}.alt-tab{background-color:#000;color:#ffc351;padding:4px;font-size:1em;font-weight:700;font-family:monospace}</style>

### Pacotes usados neste Notebook

In [2]:
import pandas as pd

<h1>Computando Quartis</h1><hr/>

### 1. Dataset - Vôo Internacional

In [3]:
# dataset completo
data = pd.read_csv('./datasets/fake-passenger-weights.csv')

In [4]:
data

    weight
0        5
1      120
2       70
3       20
4       40
5      118
6       50
7       90
8       80
9       66
10      85
11      65
12      56
13      95
14      92
15      68
16      63
17      77
18      30
19     110

In [5]:
# dataset com apenas as 11 primeiras instâncias
data_11 = data[:11]

In [6]:
data_11

    weight
0        5
1      120
2       70
3       20
4       40
5      118
6       50
7       90
8       80
9       66
10      85

### 2. Computando Quartis

### 2.1. Dataset com número ímpar de instâncias

#### **Interpolação: Midpoint**

In [7]:
Q2 = data_11.quantile(q=0.5, interpolation='midpoint')
Q2

weight    70.0
Name: 0.5, dtype: float64

In [8]:
Q1 = data_11.quantile(q=0.25, interpolation='midpoint')
Q1

weight    45.0
Name: 0.25, dtype: float64

In [9]:
Q3 = data_11.quantile(q=0.75, interpolation='midpoint')
Q3

weight    87.5
Name: 0.75, dtype: float64

#### **Interpolação: Linear**

In [10]:
Q2 = data_11.quantile(q=0.5)
Q2

weight    70.0
Name: 0.5, dtype: float64

In [11]:
Q1 = data_11.quantile(q=0.25)
Q1

weight    45.0
Name: 0.25, dtype: float64

In [14]:
Q3 = data_11.quantile(q=0.75)
Q3

weight    87.5
Name: 0.75, dtype: float64

In [15]:
# describe
data_11.describe()

           weight
count   11.000000
mean    67.636364
std     36.753973
min      5.000000
25%     45.000000
50%     70.000000
75%     87.500000
max    120.000000

### 2.2. Dataset com número par de instâncias

#### **Interpolação: Midpoint**

In [13]:
data

    weight
0        5
1      120
2       70
3       20
4       40
5      118
6       50
7       90
8       80
9       66
10      85
11      65
12      56
13      95
14      92
15      68
16      63
17      77
18      30
19     110

#### **Interpolação: Linear**